<?xml version="1.0"?>
<model>
  <name>Vulcan G401</name>
  <version>0.1</version>
  <sdf version="1.5">Vulcan_G401.sdf</sdf>

  <author>
    <name>Noe Sanchez</name>
    <email>danfoot4567@gmail.com</email>
  </author>

  <description>
    Vulcan G401 Autonomous inspection quadrotor.
    Designator:
	  G  - Ground processing
	  4  - 4 motors, quadrotor
	  01 - Version 0.1
  </description>
  <build_depend>gazebo_ros</build_depend>
  <buildtool_depend>catkin</buildtool_depend>
  <export>
    <gazebo>
      <model_name>Vulcan_G401</model_name>
      <description>Vulcan_G401 drone</description>
      <author>Noe Sanchez</author>
      <license>MIT</license>
      <version>0.0.1</version>
    </gazebo>
  </export>

</model>
